nav {
  height: 80px;
  box-sizing: border-box;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h4 {
  font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    padding-left: 5px;
}

#nameblock {
  color: white;
  background-color: #4aaaa5;
}


body {
  background-image: url(../bootstrap-portfolio/assets/images/congruent_pentagon.png);
}

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -100px;
}
.wrapper:after {
  content: "";
  display: block;
}

footer,
.wrapper:after {
  height: 100px;
}

footer {
  padding: 30px 0;
  clear: both;
  font-size: 12px;
  color: #fff;
  color: #ccc;
  text-align: center;
  background: #666;
  border-top: 8px solid #4aaaa5;
}